@media(max-width:1260px){
    .container{
        width: 600px;
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        height: 630px;
        width:600px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .contact-container{
        padding: 0;
    }
    .soft-skills-title ul{
        display: flex;
        flex-wrap: wrap;
    }
    .my-foto{
        width: 200px;
        height: 300px;
    }
    .about-me-container{
    width: 600px;
    }
}
@media(max-width:915px){
    .container{
        width: 430px;
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        height: 660px;
        width:480px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .about-me-container{
    width: 480px;
    }
}
@media(max-width:450px){
    .siderbar{
        display: flex;
        flex-direction: row;
    }
}