html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f5f7fa;
  font-family: Montserrat;
}
.container {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: 0 auto;
}
.sidebar {
  display: flex;
  background: #1e2939;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 300px;
  height: 1630px;
}

.my-foto {
  padding: 0 40px;
}
.about-me-container {
  height: 1000px;
  width: 800px;
  margin-bottom: 120px;
}
.about-title {
  text-align: center;
}

.about-title h2 {
  line-height: 6;
}
.about-title p {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 40px;
}
.about-title p:last-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 3;
}
.about-training {
  margin-bottom: 40px;
}
.about-training li {
  text-align: center;
  list-style-type: none;
}
.about-training p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-container {
  /* padding-left: 40px;
  padding-top: 60px;
  padding-right: 40px; */
  padding: 150px 40px 50px 70px;
}

.contact-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
}

.contact-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #69717b;
}

.contact-link-type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.tech-skills-container {
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skills-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #e9650c;
}

.tech-skills-text {
  color: #787e88;
}

.soft-skills-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 52px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.soft-skills-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ff6b08;
  margin-left: 20px;
}

.soft-skills-text {
  color: #969ba2;
}
/*About
===================== 
 */
.expirions-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}
.name_job,
.name_date,
.name_education {
  font-weight: 600;
  text-align: center;
  line-height: 3.4;
}
.job_pract {
  text-align: left;
}
.job_pract ul {
  list-style: none;
}
.job_pract li {
  font-size: 14px;
  text-align: center;
}
.name_education {
  margin-bottom: 20px;
}
p {
  text-align: center;
}
.last_work {
  font-size: 18px;
}
.last_work ul {
  text-decoration: none;
  list-style: none;
}
.last_work a {
  text-decoration: none;
  color: #787e88;
  font-size: 20px;
}
.last_work a:hover {
  text-decoration: none; /* Убираем подчеркивание */
  color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */
  background: #c7b7be; /* Цвет фона */
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 10px;
  color: #1e2939;
}
.last_work a:active {
  color: #800080; /* Цвет посещенной ссылки */
}
.work_title {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.work__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100px;
}
.work__site {
  margin: 15px auto;
}
